.jumbotron {
  padding: 60px 30px;
  border-radius: 10px;
  margin-bottom: 0px;
  text-align: center;
  background: url('../assets/images/popcorn-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: top;
  /* opacity: .95; */
}

#logo {
  margin-top: 23vh;
  opacity: .95;
  filter: drop-shadow(4px 12px 3px #2e2e2e);

}

.jumbotron h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbotron p {
  margin-top: 50px;
  margin-bottom: 0;
}

.jumbotron input {
  max-width: 60%;
}

.jumbotron .lead {
  font-size: 2rem;
  font-weight: bold;
}

.jumbotron hr {
  border-color: #fff;
  margin-top: 5rem;
}

.input-group {
  margin-top: 1rem;
  margin-bottom: 50px;
}

.input-group input {
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 10px 20px;
  width: 60%;
  font-size: 1.5rem;
}

.input-group button {
  color: #191a19; 
  border-radius: 50%;
  border: 1px solid red;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
}
