.jumbotron {
  /* background: url('tumblr_n19f0274mT1s8gf9ko5_500.gif') center/cover no-repeat; */
  color: #000000;
  padding: 60px 30px;
  border-radius: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.jumbotron .lead {
  font-size: 2rem;
  font-weight: bold;
}

.jumbotron hr {
  border-color: #fff;
  margin-top: 5rem;
}

.input-group {
  margin-top: 1rem;
}

.input-group input {
  border: 1px solid #ccc;
  border-radius: 24px;
  padding: 10px 20px;
  width: 60%;
  font-size: 1.5rem;
}

.input-group button {
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.5rem;
}
