.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* Override Bootstrap's default styles */
/* .row > * {
  width: auto; /* Set width to auto 
} */


.image-container {
	position: relative;
	transition: transform 0.2s;
  width: auto;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.CardTitle{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: brown;
  width: 200px;


}
