.CardDisplay{
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content:space-around;
}

.movieCardContainer{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.CardTitle{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  color: brown;
  width: 200px;


}
.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}